/* 基础设置 */

/* 版心 */
.container {
	width: 1190px;
	margin: 0 auto;
}

/* #region 顶部导航条 start */

/* 最外层容器 */
.topbar {
	height: 30px;
	background-color: #ECECEC;
}

/* 左侧欢迎区 */
.welcome {
	height: 30px;
	line-height: 30px;
	/* 单行文字居中 */
	font-size: 0;
	/* 消除回车转空格的影响 */
	color: #666;
}

/* 欢迎区内元素 */
.welcome span,
.welcome a {
	font-size: 12px;
}

/* 欢迎区内文字 */
.welcome .hello {
	margin-right: 28px;
}

/* 欢迎区内登录超链接 */
.welcome .login {
	padding-right: 10px;
	border-right: 1px solid #666;
}

/* 欢迎区内注册超链接 */
.welcome .register {
	padding-left: 10px;
}

/* 右侧导航区 */
.topbar-nav {
	height: 30px;
	/* 单行文字居中 */
	line-height: 30px;
}

/* 导航区内列表元素 */
.topbar-nav li {
	float: left;
}

.topbar-nav li a {
	padding: 0 15px;
	border-right: 1px solid #666;
}

.topbar-nav li:first-child a {
	padding-left: 0;
}

.topbar-nav li:last-child a {
	padding-right: 0;
	border-right: 0;
}

/* #endregion 顶部导航条 end */

/* #region 头部 start */

/* 最外层结构 */
.header {
	height: 120px;
}

.header .search form {
	margin-top: 42px;
	font-size: 0;
}

/* 表单中的搜索框 */
.header .search input {
	width: 508px;
	height: 34px;
	border: 1px solid #DD302D;

}

/* 表单中的搜索按钮 */
.header .search button {
	width: 80px;
	height: 36px;
	background-color: #DD302D;
	vertical-align: top;
}

/* 搜索按钮上的图片 */
.header .search button img {
	margin: 6px 28px;
	vertical-align: middle;
}

/* 搜索按钮上的图片的另一种实现方式
（如果解开以下注释，则需要注释掉 html 中 button 的 img 标签） */
/* .header .search button {
	background-image: url("../images/serch_icon.png");
	background-repeat: no-repeat;
	background-position: 28px 6px;
} */

/* #endregion 头部 end */

/* #region 主导航 start */

.main-nav {
	height: 48px;
	border-bottom: #DD302D 1px solid;
}

.main-nav .all-types {
	width: 190px;
	height: 48px;
	line-height: 48px;
	background-color: #DD302D;
	color: white;
	text-align: center;
	font-size: 16px;
}

.main-nav .main-nav-list ul li {
	height: 48px;
	line-height: 48px;
	float: left;
	margin: 0 10px;
	font-size: 16px;
}

/* #endregion 主导航 end */

/* #region 内容区 start */

.content {
	height: 458px;
	margin-top: 10px;
}

/* #region 左侧 start */

.content .side-nav {
	width: 190px;
	height: 456px;
	padding: 1px 0;
	background-color: #F4F4F4;
}

.content .side-nav ul li {
	height: 20px;
	line-height: 20px;
	margin: 8px 0;
	padding-left: 16px;
}

.content .side-nav ul li:hover {
	background-color: #DD302D;
}

.content .side-nav ul li a {
	font-size: 14px;
}

.content .side-nav ul li:hover a {
	color: white;
}

/* 左侧二级菜单 */
.content .side-nav {
	position: relative;
}

.content .side-nav ul li .second-menu {
	width: 700px;
	background-color: #E3E3E3;
	position: absolute;
	left: 190px;
	top: 0px;
	display: none;
	padding-top: 10px;
	padding-bottom: 16px;
}

.content .side-nav ul li:hover .second-menu {
	display: block;
}

.content .side-nav ul li .second-menu dl {
	margin-left: 20px;
	font-size: 14px;
	height: 36px;
	line-height: 36px;
}

.content .side-nav ul li .second-menu dl dt {
	width: 70px;
	float: left;
	margin-right: 10px;
	font-weight: bold;
}

.content .side-nav ul li .second-menu dl dd {
	float: left;
}

.content .side-nav ul li .second-menu dl dd a {
	padding: 0 10px;
	border-left: 1px solid #666;
}

.content .side-nav ul li:hover .second-menu a {
	color: #666;
}

/* #endregion 左侧 start */

/* 中间 */

.content .banner {
	width: 690px;
	height: 458px;
	margin: 0 10px;
}

/* 右边 */

/* 尚品快报 */

.content .side-other {
	width: 290px;
	height: 458px;
}

.content .side-other .msg {
	width: 288px;
	height: 156px;
	border: 1px solid #D9D9D9;
}

.content .side-other .msg .title{
	height: 38px;
	width: 260px;
	line-height: 38px;
	border-bottom: 1px solid #D9D9D9;
	margin: 0 14px;
}

.content .side-other .msg .title span {
	font-weight: bold;
}

.content .side-other .msg .msg-list {
	margin: 0 14px;
}

.content .side-other .msg .msg-list li {
	height: 26px;
	line-height: 26px;
	width: 262px;
}

.content .side-other .msg .msg-list li:first-child {
	margin-top: 2px;
}

/* 图标导航 */

.content .side-other .other-nav {
	margin-top: 10px;
	width: 290px;
	height: 290px;
	background-color: gray;
}

/* #endregion 内容区 end */