<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>添加记录</title>
  <link href="/css/bootstrap.css" rel="stylesheet" />
  <link href="/css/bootstrap-datepicker.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <h2>添加记录</h2>
        <hr />
        <form method="post" action="/ledger-list">
          <div class="form-group">
            <label for="item">事项</label>
            <input type="text" class="form-control" id="item" name="item"/>
          </div>
          <div class="form-group">
            <label for="time">发生时间</label>
            <input type="text" class="form-control" id="time" name="occurrence-time"/>
          </div>
          <div class="form-group">
            <label for="type">类型</label>
            <select class="form-control" id="type" name="type">
              <option value="expenditure">支出</option>
              <option value="income">收入</option>
            </select>
          </div>
          <div class="form-group">
            <label for="account">金额</label>
            <input type="text" class="form-control" id="account" name="amount"/>
          </div>

          <div class="form-group">
            <label for="remarks">备注</label>
            <textarea class="form-control" id="remarks" name="remarks"></textarea>
          </div>
          <hr>
          <button type="submit" class="btn btn-primary btn-block">添加</button>
        </form>
      </div>
    </div>
  </div>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap-datepicker.min.js"></script>
  <script src="/js/bootstrap-datepicker.zh-CN.min.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>