<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>基本列表</title>
  <script src="../js/vue.js"></script>
  <!-- 
    小结
      - Vue 使用 v-for 指令展示列表数据
      - 语法为 <li v-for="(a, b) in/of xxx" :key="yyy"></li>，其中 yyy 是每一个列表元素的唯一标识，最好是用对应 id
      - v-for 可以用于遍历数组、对象、字符串、指定次数
        - 遍历数组 ==> a 是 element，b 是 index
        - 遍历对象 ==> a 是 value，b 是 key
        - 遍历字符串 ==> a 是 char，b 是 index
        - 指定次数 ==> a 是 number (从 0 开始)，b 是 index
   -->
</head>

<body>
  <div id="root">
    <!-- 遍历数组 -->
    <h2>人员列表 (数组遍历)</h2>
    <ul>
      <li v-for="(person, index) in persons" :key="person.id">
        {{person.name}}-{{person.age}}
      </li>
    </ul>
    <!-- 遍历对象 -->
    <h2>老板信息 (对象遍历)</h2>
    <ul>
      <li v-for="(value, key) in boss" :key="key">
        {{key}}: {{value}}
      </li>
    </ul>
    <!-- 遍历字符串 -->
    <h2>{{helloStr}} (字符串遍历)</h2>
    <ul>
      <li v-for="(char, index) in helloStr" :key="index">
        {{char}}-{{index}}/{{helloStr.length}}
      </li>
    </ul>
    <!-- 遍历指定次数 -->
    <h2>次数遍历</h2>
    <ul>
      <li v-for="(number, index) of 5" ::key="index">
        {{index}}-{{number}}
      </li>
    </ul>
  </div>

  <script>
    new Vue({
      el: "#root",
      data: {
        persons: [
          { id: '001', name: '张三', age: 18 },
          { id: '002', name: '李四', age: 19 },
          { id: '003', name: '王五', age: 20 }
        ],
        boss: {
          name: "chuanYiTu",
          age: 34
        },
        helloStr: "Hello World"
      }
    })
  </script>
</body>

</html>