@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1710935443963') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-jisuanjidiannaobijibenshouji:before {
  content: "\e661";
}

.icon-a-clock-timeshijianshizhonglishi:before {
  content: "\e662";
}

.icon-a-errorcuowujinggaotixingtishi:before {
  content: "\e663";
}

.icon-a-licensecertificatexukezhengxukexieyi:before {
  content: "\e664";
}

