table,
td {
    border: 3px solid black;
}

table {
    width: 200px;
    height: 100px;
    border-collapse: collapse;
    margin: 0 auto;
}

tr:nth-of-type(odd) td {
    background-color: rgba(250, 235, 215);
    opacity: 0.5;
}

tr:nth-of-type(even) td {
    background-color: rgba(95, 158, 160);
    opacity: 0.5;
}

tr td:hover {
    opacity: 1;
}